/* line 1, ../../resources/common.scss */
ul, li {
  margin: 0;
  padding: 0;
}

/* line 8, ../../resources/master.scss */
#masterWrap {
  width: 960px;
  height: 760px;
  background-color: #000000;
  margin: 0 auto;
  padding: 20px;
}
/* line 14, ../../resources/master.scss */
#masterWrap #mainWrap {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: black;
  height: 600px;
}
/* line 20, ../../resources/master.scss */
#masterWrap #mainWrap #title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 0 0 25px #EDF8FF, 0 0 20px #EDF8FF, 0 0 0.40px #EDF8FF;
  font-size: 40px;
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  font-style: italic;
}
/* line 36, ../../resources/master.scss */
#masterWrap #mainWrap #historyBoard {
  width: 900px;
  height: 500px;
  margin: 0 auto;
}
/* line 40, ../../resources/master.scss */
#masterWrap #mainWrap #historyBoard ul {
  width: 885px;
  margin: 0 auto;
}
/* line 44, ../../resources/master.scss */
#masterWrap #mainWrap #historyBoard li {
  display: block;
  height: 100px;
  background-color: white;
  background-image: linear-gradient(145deg, transparent 0, transparent 16px, #cccccc 16px, #cccccc 100%), linear-gradient(215deg, transparent 0, transparent 19px, #cccccc 19px, #cccccc 100%);
  background-size: 51% 20%, 51% 20%;
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
}
/* line 55, ../../resources/master.scss */
#masterWrap #mainWrap #historyBoard .boardRow {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-size: 100% 20%;
  background-position: left bottom;
  background-repeat: no-repeat;
}

/* line 68, ../../resources/master.scss */
.silver {
  background-image: linear-gradient(to top left, #a5a5a5, #babac2, #e8e8e8, #a5a5a5, #babac2);
}

/* line 89, ../../resources/master.scss */
.color1 {
  color: #00bf00;
}

/* line 89, ../../resources/master.scss */
.color2 {
  color: #0000bf;
}

/* line 89, ../../resources/master.scss */
.color3 {
  color: #bfbf00;
}

/* line 89, ../../resources/master.scss */
.color4 {
  color: #bf0000;
}

/* line 89, ../../resources/master.scss */
.color5 {
  color: #bf00bf;
}
