@import "common";

$baseWidth: 95%;
$baseHeight: 80%;
$dispHeight: 600px;
$otherHeight: 160px;
$boxWidth: 59px;
$boxHeight: 100px;
$subDispWid: 360px;

html{
  height: 100%;
}

body{
  height: 94%;
  margin-top: 20px;
}

.left-top-radius{
  border-top-left-radius: 10px;
}

.right-top-radius{
  border-top-right-radius: 10px;
}

.left-bottom-radius{
  border-bottom-left-radius: 10px;
}

.right-bottom-radius{
  border-bottom-right-radius: 10px;
}

#clientWrap{
  position: relative;
  width: $baseWidth;
  margin: 0 auto;
  background-color: #ffd6b2;
  border-radius: 10px;
  overflow: hidden;
  #mainWrap{
    height: 99%;
    padding: 5px;
    margin: 0 auto;
    #card{
      width: 100%;
      height: 100%;
    }
    #title{
      color: white;
      -webkit-text-stroke: 3px black;
      text:{
        align: center;
      }
      font:{
        size: 200%;
        family: 'Sonsie One', cursive;
      }
    }
    tr{
      height: 11%;
    }
    td{
      width: 20%;
      padding:{
        top: 5px;
        bottom: 5px;
      }
      border: 3px solid #ff9233;
    }
    td.waiting{
      border: 3px solid #dc143c;
      .ballWrap{
        -webkit-animation: blink 0.7s ease-in-out infinite alternate;
        -moz-animation: blink 0.7s ease-in-out infinite alternate;
        animation: blink 0.7s ease-in-out infinite alternate;
      }
    }
    td.bingo{
      background-color: #dc143c;
    }
  }
  #waiting{
    position: absolute;
    text-align: center;
    font:{
      size: 300%;
      family: 'Sonsie One', cursive;
    }
    width: 100%;
    height: 100%;
    top: 0px;
    left: 100%;
    -ms-filter: "alpha( opacity=0 )";
    filter: alpha( opacity=0 );
    opacity: 0;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    p{
      color: white;
      margin: 0;
      padding: 0;
      display: block;
    }
    .space{
      height: 45%;
    }
  }
  #waiting.show{
    left: 0%;
    -ms-filter: "alpha( opacity=100 )";
    filter: alpha( opacity=100 );
    opacity: 1;
  }
  #bingo{
    position: absolute;
    text-align: center;
    font:{
      size: 300%;
      family: 'Sonsie One', cursive;
    }
    width: 100%;
    height: 100%;
    top: 0px;
    left: 100%;
    -ms-filter: "alpha( opacity=0 )";
    filter: alpha( opacity=0 );
    opacity: 0;
    background: rgba(0,0,0,0.7);
    p{
      color: white;
      margin: 0;
      padding: 0;
      display: block;
    }
    .space{
      height: 45%;
    }
  }
  #bingo.locate{
    left: 0px;
  }
  #bingo.show{
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -ms-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
    -ms-filter: "alpha( opacity=100 )";
    filter: alpha( opacity=100 );
    opacity: 1;
  }
}

.ballWrap{
  /*
  height: 12vmin;
  width: 12vmin;
  */
  height: 40px;
  width: 40px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  font:{
    size: 130%;
    family: 'Sonsie One', cursive;
  }
  p{
    margin: 0;
    padding: 0;
    padding-top: 7px;
  }
}

@for $i from 1 through 5{
  .text-color#{$i}{
    @include bingoColor($i);
  }
  .color#{$i}{
    @include backColor($i);
  }
  .col#{$i - 1} .ballWrap{
    @include bingoBallColor($i);
  }
}

@-webkit-keyframes blink{
    100% {opacity: 0.5;}
    0% {opacity: 1;}
}
@-moz-keyframes blink{
    100% {opacity: 0.5;}
    0% {opacity: 1;}
}
@keyframes blink{
    100% {opacity: 0.5;}
    0% {opacity: 1;}
}

