@import "common";

$baseWidth: 960px;
$dispHeight: 600px;
$otherHeight: 160px;
$boxWidth: 59px;
$boxHeight: 100px;
#masterWrap{
  width: $baseWidth;
  height: $dispHeight + $otherHeight;
  background-color: #000000;
  margin: 0 auto;
  padding: 20px;
  #mainWrap{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: black;
    height: $dispHeight;
    #title{
      padding:{
        top: 10px;
        bottom: 10px;
      }
      text:{
        align: center;
        shadow: 0 0 25px #EDF8FF, 0 0 20px #EDF8FF, 0 0 0.40px #EDF8FF;
      }
      font:{
        size: 40px;
        family: 'Sonsie One', cursive;
        weight: bold;
        style: italic;
      }
    }
    #historyBoard{
      width: $baseWidth - 60px;
      height: $boxHeight * 5;
      margin: 0 auto;
      ul{
        width: $boxWidth * 15;
        margin: 0 auto;
      }
      li{
        display: block;
        height: $boxHeight;
        background:{
          color: white;
          image: linear-gradient(145deg, transparent 0, transparent 16px, #CCCCCC 16px, #CCCCCC 100%), linear-gradient(215deg, transparent 0, transparent 19px, #CCCCCC 19px, #CCCCCC 100%);
          size: 51% 20%, 51% 20%;
          position: left bottom, right bottom;
          repeat: no-repeat;
        }
      }
      .boardRow{
        height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(255,255,255,0)));
        background:{
          size: 100% 20%;
          position: left bottom;
          repeat: no-repeat;
        }
      }
    }
  }
}

.silver{
  background-image: linear-gradient(to top left, #A5A5A5, #BABAC2, #E8E8E8, #A5A5A5, #BABAC2)
}

@mixin bingoColor($index){
  $c: #000000;
  @if $index == 1{
    $c: #00BF00;
  }@else if $index == 2{
    $c: #0000BF;
  }@else if $index == 3{
    $c: #BFBF00;
  }@else if $index == 4{
    $c: #BF0000;
  }@else if $index == 5{
    $c: #BF00BF;
  }
  color: $c;
}

@for $i from 1 through 5{
  .color#{$i}{
    @include bingoColor($i);
  }
}
