<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/master.css' />
<link href='http://fonts.googleapis.com/css?family=Sonsie+One&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="masterWrap" class="silver">
      <div id="mainWrap">
        <div id="title">
          <span class="color1">b</span>
          <span class="color2">i</span>
          <span class="color3">n</span>
          <span class="color4">5</span>
          <span class="color5">o</span>
        </div>
        <div id="historyBoard">
          <ul>
            <li>
              <div class="boardRow">
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor1">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor2">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor3">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor4">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor5">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor1">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor2">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor3">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor4">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor5">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor1">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor2">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor3">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor4">
                      <p>75</p>
                    </div>
                  </div>
                </div>
                <div class="histBallWrap">
                  <div class="histBall">
                    <div class="ball ballColor5">
                      <p>75</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="boardRow">
              </div>
            </li>
            <li>
              <div class="boardRow">
              </div>
            </li>
            <li>
              <div class="boardRow">
              </div>
            </li>
            <li>
              <div class="boardRow">
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div id="otherWrap">
          <div class="bingoButton">
            <button class="metal linear">Get</button>
          </div>
          <div class="bingoButton">
            <button class="metal linear">Quick</button>
          </div>
          <div class="bingoButton">
            <button class="metal linear">Ranking</button>
          </div>
          <div class="resetButton">
            <button class="metal radial reset"></button>
          </div>
          <div id="subDispWrap">
            <div id="subDisp">
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
